$white: #fff;
$black: #000;
$mainBlue: #102c57;
$mainSand: #dac0a3;
$secondarySand: #eadbc8;
$lightSand: #fefaf6;
$footerSand: #fbf8e7;
$lightRed: #ff204e;
$warnRed: #a0153e;
$mainGreen: #337357;
$mainYellow: #ffd23f;


// plate colors
$lighBlue: #8cb9bd;
$lightWhite: #fefbf6;
$darkSand: #b67352;

// grey
$darkGrey: #262626;
$mainGrey: #607274;
$lightGrey: #ededed;

// vars
$header-size-s: 60px;