@import 'src/app/styles/variables.scss';

.footer {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  background-color: $footerSand;

  .rightPart {
    width: auto;
  }

  .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .leftPart {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }
}
