@import "src/app/styles/variables.scss";

.modalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba($black, 0.35);
    padding: 0 16px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.modalContainerOpen {
    opacity: 1;
    visibility: visible;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.modal{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    top: 50%;
    padding: 32px 0;
    width: 100%;
    max-width: 592px;
    max-height: calc(100% - 32px);
    background: $white;
    border-radius: 8px;
    box-shadow: 3px 3px 7px 0 rgba($black, 0.5);
    z-index: 101;
    // transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%) scale(0);
    transition: all 0.8s ease-in-out;
}

.modalOpen {
    transform: translateX(-50%) translateY(-50%) scale(1);
}