@import "src/app/styles/variables.scss";

.navWrapper {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: calc(100% - $header-size-s);
    top: $header-size-s;
    left: 100%;
    transition: left 0.5s ease-in-out;
    background-color: $white;
    opacity: 0;
}

.navWrapperOpened {
    left: 0;
    visibility: visible;
    opacity: 1;
}

.navigation {
    height: min-content;
}


