@import "src/app/styles/variables";

$header-burger-height: 12.5px;
$header-burger-width: 17px;
$header-burger-line-height: 2px;

.headerContainer {
    background-color: $mainBlue;
    width: 100%;
    height: auto;
    color: $white;
    position: sticky;
    top: 0;
    // display: flex;
    // align-items: center;
    
}

.headerWrapper {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
}

.logo {
    width: 36px;
    height: 36px;
}

.rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.avatar {
    width: 30px;
    height: 30px;
}

.headerBurger,
.headerBurgerOpened {
    position: relative;
    height: $header-burger-height;
    width: $header-burger-width;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
}

.headerBurger {
    .headerBurgerLine {
        height: $header-burger-line-height;
        width: $header-burger-width;
        background-color: $white;
        position: absolute;
        left: 0;
        // border-radius: 50%;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: $header-burger-line-height;
        left: 0;
        background-color: $white;
        // border-radius: 50%;
        transform: rotate(0deg);
        transition: all 0.3s;
    }

    &::before {
        width: 100%;
        top: 0;
    }

    &::after {
        bottom: 0;
        width: 75%;
    }
}

.headerBurgerOpened {
    .headerBurgerLine {
        height: $header-burger-line-height;
        width: $header-burger-width;
        background-color: transparent;
        transition: all 0.3s;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: $header-burger-line-height;
        width: 100%;
        background-color: $white;
        border-radius: 50%;
        transition: all 0.3s;
    }

    &::before {
        transform: rotate(135deg);
    }

    &::after {
        transform: rotate(-135deg);
    }
}