@import "src/app/styles/variables.scss";

.part {
    padding-bottom: 16px;
    background-color: $lightSand;

    .title {
        padding: 0 16px;
    }

    .paragraph {
        padding: 24px 16px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        margin: 0;
    }

    .img {
        width: 100%;
        max-height: auto;
    }

    &:first-child {
        padding-top: 24px;
    }

    &:last-child {
        padding-bottom: 24px;
    }
}

.buttonContainer {
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    border: 1px solid transparent;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.primary {
    background-color: $mainBlue;
    color: $white;
}

.secondary {
    background-color: $white;
    color: $mainBlue;
    border-color: $mainBlue;
}


.secondarySandBG {
    background-color: $secondarySand;
}