@import "src/app/styles/variables.scss";

.navTab {
    width: 100%;
    height: 58px;
    padding: 5px 0 0;
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255 / 100%);
    border: none;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

    &::after {
        content: "";
        height: 1px;
        width: calc(100% - 20px);
        background-color: $lightGrey;
    }

    .navIcon {
        margin: 0 12px 0 15px;
        width: 22px;
        height: 22px;
    }

    .navText {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
    }

    .arrowWrapper {
        margin-left: auto;
        margin-right: 13px;
    }

    .arrowIcon {
        transform: rotate(0);
        transition: transform 0.3s ease-in-out;
        width: 18px;
        height: 18px;
        position: relative;
        z-index: 0;
    }

    &:hover {
        background-color: $lightGrey;
    }
}